.vs/
.vscode/
packages/

*.suo
*.user
_ReSharper.*

Development/

docs/node_modules/
docs/src/.vuepress/dist/
docs/src/.vuepress/.temp/
docs/src/.vuepress/.cache/

jsdom-bundle/node_modules/
jsdom-bundle/dist/

YouTubeSessionGenerator/bin/
YouTubeSessionGenerator/obj/

YouTubeSessionGenerator.Tests/bin/
YouTubeSessionGenerator.Tests/obj/