$vp-c-accent: (
  light: #e44141,
  dark: #ff6868,
);

$vp-c-accent-hover: (
  light: #d36262,
  dark: #e77b7b,
);

$vp-c-accent-bg: (
  light: #d45555,
  dark: #da7171,
);

$vp-c-accent-text: (
  light: #754b4b,
  dark: #ffaaaa,
);

$vp-c-accent-soft: (
  light: #fff5f5,
  dark: #381d1d,
);


$vp-c-bg: (
  light: #ffffff,
  dark: #1b1b1b,
);

$vp-c-bg-alt: (
  light: #f5f5f5,
  dark: #252525
);

$vp-c-bg-elv: (
  light: #e5e5e5,
  dark: #202020,
);


$vp-c-border: (
  light: #cccccc,
  dark: #333333,
);

$vp-c-gutter: (
  light: #dddddd,
  dark: #2a2a2a,
);


$vp-c-text: (
  light: #1a1a1a,
  dark: #e0e0e0,
);

$vp-c-text-mute: (
  light: #666666,
  dark: #999999,
);
